*{
    margin: 0px;
    padding: 0px;
}

.container{
  background-color:  #ffd3b6;
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    
}
.card{

     background-color:    #ffffd3;
    
    width: 60%;
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    

}


.backgroundimg{
     background-image: url('428692721_3577524239227490_2481517712882388975_n (1).jpg');
     border-radius: 20px 20px 0px 0px;   
    background-repeat: no-repeat;
    background-size: cover;
     padding: 10px;
        
    height: 30%;
   
    display: flex;
    justify-content: flex-start;
}



.profilepic{
    
    height: 100%;
    width: 30%;
    border-radius: 50%;
    border: 5px solid rgb(240, 249, 248);
    margin-top: 70px;
    
    
}

.info{
   
    padding: 20px;
    font-size: 120%;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.description{
    text-align: center;
}

.info span{
    font-weight: bolder;
}

.info div{
    font-style: normal;
    margin-top: 10px;
   
}


@media screen and (max-width:660px) {
   
    
    .profilepic{
        height: 70%;
        width: 40%;
    }
  

   .info{
    font-size: 13px;
   }
   
}